<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout Example</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <header class="header">Header Content with few links</header>

    <section class="user-options">Some more user options</section>

    <div class="main-content">
        <aside class="sidebar">
            <div class="tree-structure">Tree Str1</div>
            <div class="tree-structure">Tree Str2</div>
        </aside>
        <div class="content">
            <div class="content-area1">Content Area 1</div>
            <div class="bottom-content">
                <div class="content-area2">Content Area 2</div>
                <div class="content-area3">Content Area 3</div>
            </div>
        </div>
    </div>
</body>

</html>